:root {
    --plain-white: #ffffff;
    --plain-black: #000000;
    --red: #FF555D;
}

.border-black {
  border-color: var(--plain-black);
}

.bg-black {
  background-color: var(--plain-black);
}

.bg-red {
  background-color: var(--red);
}