:root {
    --plain-white: #ffffff;
    --plain-black: #000000;
    --red: #FF555D;
    --pink: #fd79a8;
    --beige: #FFD6D7;
    --yellow: #F2C94C;
}

.border-black {
  border-color: var(--plain-black) !important;
}

.bg-black {
  background-color: var(--plain-black);
}

.bg-red {
  background-color: var(--red);
}

.bg-pink {
  background-color: var(--pink);
}