* {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 2rem;
}

/* Start Font Families */
.font-family-syncopate {
    font-family: 'Syncopate', sans-serif;
}

/* Start Font Sizes */
.font-large {
    font-size: 7rem;
}

.font-medium {
    font-size: 3.5rem;
}

.font-small {
    font-size: 2.5rem;
}

/* Start Font Weights */
.font-extra-light {
    font-weight: 200;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 600;
}


/* Start Font Rotation */
.vertical-text {
    transform: rotate(270deg);
}