* {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 2rem;
}

/* Start Font Families */
.font-family-syncopate {
    font-family: 'Syncopate', sans-serif;
}

/* Start Font Sizes */
.font-large {
    font-size: 5rem;
}

.font-medium {
    font-size: 2.5rem;
}

.font-small {
    font-size: 1.5rem;
}

.font-extra-small {
    font-size: 1rem;
}

/* Start Font Weights */
.font-extra-light {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-semi-bold {
    font-weight: 500;
}

.font-bold {
    font-weight: 600;
}

/* Start Font Rotation */

.contrasting-text {
    color: white;
    mix-blend-mode: difference;
}

.text-black {
    color: #212529;
}

/* Responsive */

/* xs and down */
@media screen and (max-width: 576px) {
    .font-large {
        font-size: 3rem;
    }

    .font-medium {
        font-size: 1.5rem;
    }
    
    .font-small {
        font-size: 1rem;
    }
}

/* sm and up*/
@media screen and (min-width: 576px) {

}

/* md and up*/
@media screen and (min-width: 768px) {

}

/* lg and up*/
@media screen and (min-width: 992px) {
    
}

/* xl and up*/
@media screen and (min-width: 1200px) {
}