* {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 2rem;
}

/* Start Font Families */
.font-family-syncopate {
    font-family: 'Syncopate', sans-serif;
}

/* Start Font Sizes */
.font-large {
    font-size: 5rem;
}

.font-medium {
    font-size: 2.5rem;
}

.font-small {
    font-size: 1.5rem;
}

/* Start Font Weights */
.font-extra-light {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 600;
}


/* Start Font Rotation */

.contrasting-text {
    color: white;
    mix-blend-mode: difference;
}