.image-container {
    width: 100%;
}

.about__profile-image-wrapper {
    background-image: url('../img/about-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}