.landing-image-container {
    width: 100%;
    height: 100%;
}

.about__profile-image-wrapper {
    background-image: url('../img/about-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#linksSection .link-icon {
    height: 3rem;
}

/* Responsive */

/* xs and down */
@media screen and (max-width: 576px) {
    .landing-image {
        width: 100%;
    }

    #profile-picture-front {
        width: 75%;
    }

    .about-pictures-container .background-image {
        width: 100%;
    }

    #linksSection .link-icon {
        height: 1.5rem;
    }
}

/* sm and up*/
@media screen and (min-width: 576px) {
    .landing-image {
        width: 100%;
    }

    #profile-picture-front {
        width: 50%;
    }

    .about-pictures-container .background-image {
        width: 70%;
    }
}

/* md and up*/
@media screen and (min-width: 768px) {

}

/* lg and up*/
@media screen and (min-width: 992px) {
    .landing-image {
        width: 75%;
    }
}

/* xl and up*/
@media screen and (min-width: 1200px) {
}
