html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
}

li {
    list-style: none;
}

a {
    color: var(--red);
}

section {
    height: 100vh;
}

#sectionIndicator {
    z-index: 99;
    bottom: 100px;
    left: -2rem;
}

#heroMobile {
    /*height: 100%;*/
}

#verticalTag {
    width: 50%;
    bottom: 60%;
    left: -20%;
}

/* Start Menu Mobile */

#menuMobile {
    z-index: 98;
}

#navbarMenu {
    z-index: 99;  
}

#mobileMenuButton[aria-expanded=false] .button-open {
    display: inline;
    opacity: 1;
}

#mobileMenuButton[aria-expanded=true] .button-open {
    display: none;
    opacity: 0;
}

#mobileMenuButton[aria-expanded=false] .button-close {
    display: none;
    opacity: 0;
}

#mobileMenuButton[aria-expanded=true] .button-close {
    display: inline;
    opacity: 1;
}

/* Start Footer */

.section-footer {
    height: 20%;
}

/* Start Projects */

.project__tags {
    left: -8.5rem;
    bottom: 60vh;
}

/* Start Projects Carousel */

.carousel-item {
    height: 50%;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    border: 3px solid black;
    height: 30px;
    border-radius: 50px;
}

.carousel-indicators li.active {
    background-color: black;
}