html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
}

li {
    list-style: none;
}

a {
    color: var(--red);
}

/* Landing */
#landingSection {
    height: 100vh;
}

/* Vertical tags */
.vertical-tag-trigger {
    visibility: hidden;
    display: inline;
}

.rotate-vertical {
    transform: rotate(270deg);
}

.vertical-tags-container {
}

/* Start Menu Mobile */

#menuMobile {
    z-index: 98;
}

#navbarMenu {
    z-index: 99;  
}

#mobileMenuButton[aria-expanded=false] .button-open {
    display: inline;
    opacity: 1;
}

#mobileMenuButton[aria-expanded=true] .button-open {
    display: none;
    opacity: 0;
}

#mobileMenuButton[aria-expanded=false] .button-close {
    display: none;
    opacity: 0;
}

#mobileMenuButton[aria-expanded=true] .button-close {
    display: inline;
    opacity: 1;
}

/* Start Footer */

.section-footer {
    height: 20%;
}

/* Start Projects */

.project-wrapper {
    border-bottom: 1px solid black;
}

.project-wrapper:nth-child(odd){
    border-right: 0.5px solid black;
}

.project__tags {
    left: -8.5rem;
    bottom: 60vh;
}

.project__circle-decoration {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    z-index: 1;
    background-color: var(--red) !important;
}

#projectScrollSection {
    max-width: 2000px;
}



/* Start Projects Carousel */

.carousel-item {
    height: 50%;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    border: 3px solid var(--plain-black);
    height: 30px;
    border-radius: 50px;
}

.carousel-indicators li.active {
    background-color: var(--plain-black);
}

/* About */
.about-pictures-container {
    height: 100%;
}

/* Contact section */

#contactSection {
    height: 100vh !important;
}

.contact-form input {
    border-width: 1px;
}

.contact-form input[type="email"] {
    height: 10vh;
}

.contact-form button {
    color: var(--plain-white);
    background-color: var(--plain-black);
}


/* Links Section */

#linksSection {

}

/* Services section */
.service-wrapper {
    margin: 0 0px;
}

.service-wrapper span {
    padding-top: 15px;
}

/* Responsive */

/* xs and down */
@media screen and (max-width: 576px) {
    .project-wrapper {
        padding-top: 1rem;
    }

    .project-wrapper:nth-child(even){
        border-right: solid 1px var(--plain-black);
    }

    .contact-form {
        width: 100%;
    }
}

/* sm and up*/
@media screen and (min-width: 576px) {
    .project-wrapper:nth-child(even) .project__circle-decoration{
        display: none;
    }

    .contact-form {
        width: 50%;
    }

    .project-wrapper:nth-child(odd){
        padding-left: 0px;
    }
    
    .project-wrapper:nth-child(even){
        padding-right: 0px;
    }
}

/* md and up*/
@media screen and (min-width: 768px) {

}

/* lg and up*/
@media screen and (min-width: 992px) {
    
}

/* xl and up*/
@media screen and (min-width: 1200px) {
}